<div class="content">
<!-- PUBLICIDADES ATIVAS -->
            <div class="card-ativos">
                <div class="top-cards">
                    <div class="card-img">
                        <img class="img-card" src="">
                    </div>
                    <div class="card-text" style="width: 91%;">
                        <div class="titulo-edit-card" style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 3px;">
                            <p><b> Titulo </b></p>
                            <div class="right-titulo-card">
                                <button class='publi-atual'>Publicidade Atual</button>
                                <span class="material-symbols-outlined more-btn">more_vert</span>

                                <ul class="options-menu">
                                    <a href="" style="all:unset;cursor:pointer;">
                                        <li class="op-editar"> <span class="material-symbols-outlined" style="margin-right: 8px; font-size:20px">edit</span>Editar</li>
                                    </a>
                                    <form method="POST"> 
                                            <input type="hidden" name="id_encerrar" value="1">
                                            <button type="submit" name="encerrar" style="all:unset; cursor:pointer;">
                                            <li class="op-excluir" style="color:red"><span class="material-symbols-outlined" style="margin-right: 8px; font-size:20px">cancel</span>Encerrar</li>
                                        </button>
                                    </form> 
                                </ul>
                            </div>
                        </div>
                        <p> Descrição </p>
                    </div>    
                </div>

                <div class="bottom-card">
                    <div class="tags-estado" style="display: flex; align-items: center;">
                        <h5 class='tag-est'> São Paulo </h5>
                        <h5 class='tag-est'> Minas Gerais </h5>
                        <h5 class='tag-est'> Rio de Janeiro </h5>
                    </div>
                    <div class="validade">
                        <P class="card-validade" style="display: flex; align-items: center; margin-right:15px"> Ativo até 31/07/2025</P>
                    </div>
                </div>
            </div>
    
    <div class="outras-publi">
        <h2 style="margin-left:30px; font-size: 15px; margin-top: 20px;">OUTRAS PUBLICIDADES</h2>
    </div>

<!-- PUBLICIDADES INATIVAS -->
            <div class="cards-inativos">
                <div class="top-cards">
                    <div class="card-img">
                        <img class="img-card" src="">
                    </div>
                    <div class="card-text" style="width: 91%;">
                        <div class="titulo-edit-card" style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 3px;">
                            <p><b> Titulo </b></p>
                            <div class="right-titulo-card">
                                <span class="material-symbols-outlined more-btn">more_vert</span>

                                <ul class="options-menu">
                                    <a href="" style="all:unset;cursor:pointer;">
                                        <li class="op-editar"> <span class="material-symbols-outlined" style="margin-right: 8px; font-size:20px">edit</span>Editar</li>
                                    </a>
                                    <form method="POST"> 
                                            <input type="hidden" name="id_reativar" value="1">
                                            <button type="submit" name="reativar" style="all:unset; cursor:pointer;">
                                            <li class="op-reativar" style="color:green"><span class="material-symbols-outlined" style="margin-right: 8px; font-size:20px">check</span>Reativar</li>
                                        </button>
                                    </form> 
                                </ul>
                            </div>
                        </div>
                        <p>Descrição</p>
                    </div>    
                </div>

                <div class="bottom-card">
                    <div class="tags-estado" style="display: flex; align-items: center;">
                        <h5 class='tag-est'> São Paulo </h5>
                        <h5 class='tag-est'> Minas Gerais </h5>
                        <h5 class='tag-est'> Rio de Janeiro </h5>
                    </div>
                    <div class="validade">
                        <P class="card-validade" style="display: flex; align-items: center; margin-right:15px">Vencida em 01/07/2025</P>
                    </div>
                </div>
            </div>
            <div class="footer" style="height: 30px;"></div>
        </div>